
@media (min-width: 1921px){
    .hero-banner{
        min-height: 880px;
    }

}
@media (min-width: 1460px){
    .container {
        max-width: 1600px;
    }
}
@media (min-width: 1200px){
    .pt-100{
        padding-top: 100px;
    }        

}
@media (max-width: 1460px){
    h1, h2{
        font-size: 38px;
    }    
    .right-panel .number{
        font-size: 64px;
    }
    .center-panel p{
        font-size: 22px;
    }
}
@media (max-width: 1366px){
    h1, h2 {
        font-size: 30px;
    }
    .hero-banner::before{
        background-position: 80% 50%;
    }
    .proj-cards-wrapper{
        margin-bottom: 110px;
    }
    .proj-card .button-grp-warpper h5 {
        font-size: 14px;
    }
    .proj-card h2,.center-panel p,.right-panel .detail,.contact-right-panel p,.contact-right-panel .button-grp-warpper h5{
        font-size: 22px;
    }
    .right-panel .number{
        font-size: 56px;
    }
    .proj-card h2, .center-panel p, .right-panel .detail, .contact-right-panel p, .contact-right-panel .button-grp-warpper h5 {
        font-size: 20px;
    }
    .proj-col {
        padding: 0 20px;
    }
    .proj-row {
        margin: 0 -20px;
    }
    .right-panel .detail{
        line-height: 36px;
    }
    .proj-col {
        padding: 0 15px;
    }
    .proj-row {
        margin: 0 -15px;
    }
    .pt-160 {
        padding-top: 100px;
    }
    .right-panel {
        padding-left: 26px;
    }
    .proj-card{
        min-height: 180px;
    }
}
@media (max-width: 1199px){
    .pt-160 ,.pt-100{
        padding-top: 70px;
    }
    .left-panel h4 {
        margin-bottom: 20px;
    }
    .hero-banner {
        min-height: 570px;
    }
    .hero-content p,
    .proj-card h2, .center-panel p, .right-panel .detail, .contact-right-panel p, .contact-right-panel .button-grp-warpper h5{
        font-size: 18px;
    }
    .center-panel h2 {
        font-size: 32px;
        margin-bottom: 15px;
    }
    .right-panel .number{
        font-size: 44px;
    }
    .proj-card h2 {
        font-size: 22px;
    }
    .proj-card {
        padding: 20px;
    }
    .proj-card .button-grp-warpper h5{
        padding-right: 40px;
    }
    header{
        padding: 20px 0px;
    }
    .logo img {
        max-width: 280px;
    }
    header .menu-icon svg{
        height: 30px;
        width: 30px;
    }   
    .left-panel h4 br{
        display: none;
    }
}
@media (max-width: 991px){
    .hero-content p {
        width: 90%;
        font-size: 12px;
    }
    .hero-content h1 {
        margin-bottom: 20px;
        font-size: 24px;
    }
    
    .proj-cards-wrapper{
        margin-bottom: 60px;
    }
    header .menu-icon svg {
        height: 20px;
        width: 23px;
    }  
    .hero-content p, .center-panel p, .right-panel .detail, .contact-right-panel p, .contact-right-panel .button-grp-warpper h5, .footer p {
        font-size: 16px;
        line-height: 30px;
    }  
    .proj-card h2 {
        font-size: 18px;
    }
    .proj-card .button-grp-warpper h5 {
        font-size: 12px;
        padding-right: 30px;
    }
    .proj-card .button-grp-warpper h5::after{
        background-size: 13px;
    }
    .right-panel {
        padding-left: 0;
    }
    .right-button-panel .btn-row:last-child .button-grp-warpper{
        margin-bottom: 0;
    }
    .proj-col {
        padding: 0 10px;
    }
    .proj-row {
        margin: 0 -10px;
    }
    .center-panel p{
        max-width: 100%;
    }
    .pt-160, .pt-100 {
        padding-top: 60px;
    }
    .proj-card {
        min-height: 150px;
    }
}
@media (max-width: 767px){
    .pt-160, .pt-100 {
        padding-top: 40px;
    }
    h4,.h4{letter-spacing: 1px;}
    .hero-content h1{letter-spacing: 2px;}
    .logo img {
        max-width: 178px;
    }
    .hero-banner {
        min-height: 290px;
    }
    .hero-banner::before {
        background-position: 70% 50%;
    }
    .proj-card{
        max-width: none;
        filter: drop-shadow(15px 18px 12px rgba(0,0,0,0.2));
        margin-bottom: 75px;
    }
    .proj-row {
        margin: 0 -30px 0 0;
        overflow-y: auto;
    }
    .proj-row > div {
        width: 45%;
        padding: 0 20px 0 0;
    }
    .footer{
        padding: 15px 0;
    }
    .container{
        max-width: 100%;
    }
    .contact-right-panel p {
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 24px;
    }
    .contact-right-panel .button-grp-warpper h5 {
        font-size: 16px;
        line-height: 20px;
    }
    .project-overview-panel .right-panel {
        padding-top: 10px;
    }
    .contactus-panel {
        padding: 80px 0 60px;
    }
    .hero-content p, .center-panel p, .right-panel .detail, .contact-right-panel p, .contact-right-panel .button-grp-warpper h5, .footer p {
        font-size: 14px;
        line-height: 21px;
    }
}
@media (max-width: 575px){
    h4,.h4{font-size: 12px;}
    .left-panel h4 br {
        display: none;
    }
    .left-panel h4 {
        font-size: 14px;
        line-height: normal;
    }
    .center-panel h2 {
        font-size: 24px;
    }
    .hero-content p, 
    .center-panel p, 
    .right-panel .detail,
    .proj-card .button-grp-warpper h5,
    .footer,.footer p,
    .button-grp-warpper h5{
        font-size: 12px;
        line-height: 18px;
    }
    .button-grp-warpper h5::after,
    .proj-card .button-grp-warpper h5::after{
        background-size: 12px;
    }
    .button-grp-warpper {
        margin-bottom: 20px;
    }
    .center-panel h2 + p {
        margin-bottom: 0;
    }
    .proj-card h2 {
        font-size: 20px;
    }
    .other-projects-panel .col-md-10 .row {
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-left: -10px;
        margin-right: -10px;
    }
    .other-projects-panel .col-md-10 .row .proj-col {
        width: 75%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer .container {
        padding-left: 30px;
        padding-right: 30px;
    }   
    .project-overview-panel .right-button-panel .col-5 {
        width: 46%;
    } 
    .proj-row > div {
        width: 73%;
    }
    .contact-right-panel .button-grp-warpper {
        width: 100%;
    }
}
@media (max-width: 375px){
    .center-panel h2 {
        font-size: 22px;
    }
}
@media (max-width: 360px){
    .center-panel h2 {
        font-size: 19px;
    }
    .proj-row > div {
        width: 76%;
    }
}