@import "bootstrap.min.css";

.bd-placeholder-img {
     
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
  
@media (min-width: 768px) {
   
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    .card{
        flex-direction: row;
    }
    
}

@media (max-width: 768px) { 
     
    /* .card div:first-child img{

      width: 100%;
      height: fit-content;
    } */

    .card div:not(:first-child){
      margin-top: 8px;
      margin-left: 0px !important;
      padding: 0px !important; 
    }
}