.site-header-logo h1,
.navbar-brand h1{
  display: block;
  font-family: "Muli",sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: normal;
  margin: 0;
}

.dropdown-toggle::after{
  vertical-align: middle;
}
header .dropdown-menu .nav-link {
  padding: 7px 17px;
}
header .dropdown-toggle.show::after{
  border-bottom: 0.3em solid;
  border-top: 0;
}
header .dropdown-toggle::after{
  width: 10px;
}

